.card-wrapper {
  position: relative;
  height: 210px;
  width: 310px;
  background-color: white;
  transition: 0.5s;
}

.card-wrapper:hover {
  height: 450px;
  width: 360px;
  transition: 0.5s;
}

/** MEDIA QUERY PHONE 480PX **/
@media (max-width: 480px) {
  .card-wrapper {
    height: 410px !important;
    width: 360px !important;
  }
}

/** MEDIA QUERY TABLET  **/
@media (min-width: 768px) and (max-width: 1024px) {
  .card-wrapper {
    height: 410px !important;
    width: 360px !important;
  }
}

.card-wrapper:hover .user-pic {
  height: 240px;
  width: 240px;
}

.user-pic {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  top: -75px;
  width: 190px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: 0.5s;
}

/** MEDIA QUERY PHONE 480PX **/
@media (max-width: 480px) {
  .user-pic {
    height: 170px !important;
    width: 190px !important;
  }
}
/** MEDIA QUERY TABLET **/
@media (min-width: 768px) and (max-width: 1024px) {
  .user-pic {
    height: 170px !important;
    width: 190px !important;
  }
}

.user-pic img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: fill;
}

.name {
  text-align: center;
  position: relative;
  top: 100px;
  transition: 0.5s;
}

.card-wrapper:hover .name {
  top: 200px;
}

/** MEDIA QUERY PHONE 480PX **/
@media (max-width: 480px) {
  .card-wrapper .name {
    top: 120px !important;
  }
}
/** MEDIA QUERY TABLET **/
@media (min-width: 768px) and (max-width: 1024px) {
  .card-wrapper .name {
    top: 120px !important;
  }
}

.social-details {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
  opacity: 0;
  transition: 0.5s;
}
.card-wrapper:hover .social-details {
  opacity: 1;
  position: relative;
  top: 200px;
}

/** MEDIA QUERY PHONE 480PX **/
@media (max-width: 480px) {
  .card-wrapper .social-details {
    opacity: 1;
    top: 160px !important;
  }
}

/** MEDIA QUERY PHONE TABLET **/
@media (min-width: 768px) and (max-width: 1024px) {
  .card-wrapper .social-details {
    opacity: 1;
    top: 160px !important;
  }
}

.card-btn {
  margin-top: 10rem;
}

.card-wrapper:hover .card-btn {
  opacity: 1;
  transition-delay: 0.5s;
}
