.contact-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contact-links,
.contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 8% 5%;
}

.contact-links {
  background-color: #50924a;
  background: radial-gradient(
      circle at 55% 92%,
      #50924a 0 12%,
      transparent 12.2%
    ),
    radial-gradient(circle at 94% 72%, #50924a 0 10%, transparent 10.2%),
    radial-gradient(
      circle at 20% max(78%, 350px),
      #50924a 0 7%,
      transparent 7.2%
    ),
    radial-gradient(circle at 0% 0%, #50924a 0 40%, transparent 40.2%), #79d671;
  border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
  background-color: #f3f5f7;
  border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 800px) {
  .contact {
    width: 100%;
  }
  .contact-links,
  .contact-form-wrapper {
    width: 100%;
  }

  .contact-links {
    border-radius: 10px 10px 0 0;
  }

  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}
