.search {
  display: flex;
  max-width: 600px;
  align-items: center;
  flex: 1;
  margin: 3rem auto 3rem auto;
}

.search__input {
  display: flex;
  flex: 1;
  padding: 1.2rem 2rem 1.2rem 7rem;
  height: 55px;
  font-size: 1.6rem;
  color: #313131;
  border: 110px;

  position: relative;
  letter-spacing: 0.05rem;
  background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png)
    #ececec;
  background-repeat: no-repeat;
  background-position: 1rem 50%;
  background-size: 4rem;
  outline: 0;
  transition: background 0.3s ease-out, opacity 0.5s ease-out;
}

@media (max-width: 480px) {
  .search__input {
    width: 100%;
    font-size: 1.6rem;
    background-size: 2.5rem;
    padding: 1.2rem 1.5rem 1.2rem 4rem;
  }
}

.search__input:focus {
  background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png)
    no-repeat 1rem 50% #e6e6e6;
  background-size: 3rem;
}

@media (max-width: 480px) {
  .search__input:focus {
    background-size: 2rem;
  }
}

.search__icon {
  display: none;
}
