/** Header **/
.bg-scroll {
  background-color: rgba(255, 255, 255, 80%);
}
.q-tab__label {
  font-size: 17px;
  font-weight: 600;
}

/** Header MQ PHONE **/
@media (max-width: 480px) {
  .responsive-size {
    height: auto !important;
  }
  .bg-button-menu {
    background-color: transparent;
  }
  .q-avatar {
    border-radius: 0;
  }
  .title-footer {
    font-size: 18px;
  }
  .q-footer {
    padding: 0 1rem;
  }
  .q-header {
    padding: 0 1rem 0 0;
  }
  .button_login button {
    padding: 0rem;
    font-size: 1rem;
  }
}

.q-item.q-router-link--active,
.q-item--active {
  color: var(--q-secondary);
}
