/**  Section image top **/
.img-about {
  background-image: url("../assets/imagenes/background_about.webp");
}

@media (max-width: 480px) {
  .img-about {
    background-image: url("../assets/imagenes/background_about_phone.webp");
  }
}

/**  Section about **/
.flex-sobre-mi {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}

.sobre-mi-img img {
  width: 400px;
  height: 190px;
  border-radius: 50%;
}

.flex-name {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/**  Section about MQ PHONE**/
@media (max-width: 480px) {
  .flex-sobre-mi {
    flex-direction: column;
    gap: 0;
  }
  .sobre-mi-img img {
    width: 200px;
    height: 200px;
  }
  .sobre-mi-p {
    text-align: center;
    margin: 0;
  }

  /**  Section time-line  MQ PHONE**/
  .section-time-line {
    text-align: center;
  }

  /**  Section news MQ PHONE**/
}
/**  Section one About Page MQ TABLET**/
@media (min-width: 480px) and (max-width: 768px) {
  .sobre-mi-img img {
    width: 850px;
    height: auto;
  }
}

/** Section time line **/
.timer-section .timer {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.timer-section .timer .step {
  width: 50%;
  padding: 20px 15px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.timer-section .timer .step:not(:first-child),
.timer-section .timer .step:not(:last-child) {
  margin: 0 0 60px 0;
}
.timer-section .timer .step:nth-child(odd) {
  transform: translateX(100%);
  border-left: 2px solid #79d671;
  border-radius: 0 3px 3px 0;
}
.timer-section .timer .step:nth-child(even) {
  border-right: 2px solid #313131;
  border-radius: 3px 0 0 3px;
}

.timer-section .timer .step > span {
  position: absolute;
  height: 26px;
  width: 25px;
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 3px;
}
.timer-section .timer .step:nth-child(odd) > span {
  top: -40px;
  left: -13px;
  border: 2px solid #79d671;
}
.timer-section .timer .step:nth-child(even) > span {
  top: -40px;
  right: -13px;
  border: 2px solid #313131;
}

/** Section time line MQ PHONE **/
@media screen and (max-width: 480px) {
  .timer-section .timer .step {
    width: 100%;
    text-align: center;
  }
  .timer-section .timer .step:nth-child(odd) {
    transform: translateX(0%);
    border: none;
    border-top: 2px solid #79d671;
  }
  .timer-section .timer .step:nth-child(even) {
    border: none;
    border-top: 2px solid #313131;
  }
  .timer-section .timer .step span {
    left: 50% !important;
    transform: translateX(-50%);
  }
}
