/**  Section image top **/

.img-adopt {
  background-image: url("../assets/imagenes/background_adopt.webp");
}

/**  Section image top MQ PHONE**/
@media (max-width: 480px) {
  .img-adopt {
    background-image: url("../assets/imagenes/background_adopt_phone.webp");
  }
}

/**  Section adopt **/
.flex-pet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10rem;
  column-gap: 10rem;
}

@media (max-width: 480px) {
  /**  Section adopt MQ PHONE**/
  .flex-pet {
    flex-direction: column;
    align-content: center;
    row-gap: 2rem;
  }
  /**  Section search MQ PHONE**/
  .section-search {
    padding: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /**  Section adopt MQ TABLET**/
  .flex-pet {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    column-gap: 3rem;
  }
}

/**  Section testimonial **/
.testimonial {
  background: #ffffff;
  border: 3px solid #85ee7b;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  padding: 40px 25px 25px;
  flex-grow: 1;
  flex-basis: 280px;
  max-width: 400px;
  position: relative;

  // Fonts
  ::before {
    content: "";
    border: 2px solid #79d671;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
  &__img {
    display: inline-block;
    width: 50px;
    margin-right: 10px;

    img {
      vertical-align: bottom;
      border-radius: 50%;
    }
  }

  &__info {
    display: inline-block;
  }
}
.container {
  &--testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 40px;
    justify-content: center;
    padding: 45px 45px 90px;

    @media (min-width: 78.125em) {
      padding: 0;
      max-width: 1160px;
    }
    @media (max-width: 480px) {
      padding: 0;
    }
  }
}
