.box-content-colapse {
  width: 70%;
  height: auto;
  position: relative;
  margin: auto;
}

.details-comp {
  cursor: pointer;

  padding: 16px;
  border-radius: 8px;
  margin-bottom: 32px;
  position: relative;
  left: 0px;
  background: white;
  filter: drop-shadow(7px 9px 5px rgba(0, 0, 0, 0.04));
  -webkit-filter: drop-shadow(7px 9px 5px rgba(0, 0, 0, 0.04));
  -moz-filter: drop-shadow(7px 9px 5px rgba(0, 0, 0, 0.04));
}

.details-comp > p {
  padding: 0 16px;
}

.summary-colapse {
  list-style: none;
  border-radius: 8px;
  padding-left: 16px;
  color: #79d671;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.summary-colapse::-webkit-details-marker {
  display: none;
}

.details-comp[open] > .summary-colapse::after {
  display: flex;
  justify-content: space-between;
  content: url("https://cdn-icons-png.flaticon.com/24/7153/7153564.png");
  font-size: 16px;
  align-items: center;
  padding-right: 24px;
}

.details-comp > .summary-colapse::after {
  display: flex;
  justify-content: space-between;
  align-items: center;
  content: url("https://cdn-icons-png.flaticon.com/24/7153/7153566.png");
  font-size: 16px;
  padding-right: 24px;
}

.details-comp[open] p {
  animation: details-show 350ms linear;
}

.details-comp:not([open]) p {
  opacity: 0;
}

@keyframes details-show {
  0% {
    opacity: 0;
    transform: translatey(-25px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@media (max-width: 480px) {
  .box-content-colapse {
    width: 90%;
  }
}
