/**  Section image top  **/
.img-home {
  background-image: url("../assets/imagenes/background_home.webp");
}

/** Section image top MQ PHONE **/
@media (max-width: 480px) {
  .img-home {
    background-image: url("../assets/imagenes/background_home_phone.webp");
  }
}

/** Section secondchance **/
.flex-section-secondchance {
  display: flex;
  align-items: center;
  gap: 6rem;
}

/** Section secondchance MQ PHONE **/
@media (max-width: 480px) {
  .flex-section-secondchance {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 0;
  }

  .flex-left p {
    text-align: center;
  }
}

/** Section secondchance MQ TABLET **/
@media (min-width: 480px) and (max-width: 768px) {
  .flex-section-secondchance {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 0;
  }
  .text-left {
    text-align: center;
  }
}

/** Section secondchance MQ DESKTOP  **/
@media (min-width: 769px) and (max-width: 1024px) {
  .flex-section-secondchance {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 0;
  }
}

/** Section secondchance MQ DESKTOP **/
@media (min-width: 1025px) and (max-width: 1200px) {
  .flex-section-secondchance {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 0;
  }
}

/** Section pet-carousel MQ DESKTOP **/

.carousel {
  padding: 0;
}

@media (max-width: 480px) {
  .section-pets {
    padding: 3rem 0rem 2rem 0rem;
  }
}

/** Section why **/
.flex-first {
  display: flex;
}

.flex-second {
  display: flex;
  flex-direction: row-reverse;
}

.img-section-why {
  flex: 0 0 50%;
}

.img-section-why img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/** Section why MQ PHONE **/
@media (max-width: 480px) {
  .flex-first {
    flex-direction: column;
  }
  .flex-second {
    flex-direction: column;
  }

  .text-section-why > div {
    padding: 1rem 0 1rem 0;
  }

  .text-section-why p {
    padding: 0;
    text-align: center;
  }
}

/** Section why MQ TABLET **/
@media (min-width: 480px) and (max-width: 768px) {
  .flex-first {
    display: flex;
    flex-direction: column;
  }
  .flex-second {
    display: flex;
    flex-direction: column;
  }

  .text-section-why > div {
    padding: 3rem 0 1rem 0;
    text-align: center;
  }

  .text-section-why p {
    padding: 1rem 0 3rem;
  }
  .section-why {
    padding: 3rem 0 0 0;
  }
  .img-section-why img {
    width: 100%;
    height: 400px;
  }
}

/** Section why MQ DESKTOP **/
@media (min-width: 769px) and (max-width: 1024px) {
  .flex-first {
    display: flex;
    flex-direction: column;
  }
  .flex-second {
    display: flex;
    flex-direction: column;
  }
  .img-section-why {
    width: 100%;
    text-align: center;
  }
  .text-section-why > div {
    padding: 3rem 0 1rem 0;
    text-align: center;
  }

  .text-section-why p {
    padding: 1rem 0 3rem;
  }
  .section-why {
    padding: 3rem 0 0 0;
  }
  .img-section-why img {
    width: 100%;
    height: 400px;
  }
}

/** Section why MQ DESKTOP **/
@media (min-width: 1025px) and (max-width: 1200px) {
  .flex-first {
    display: flex;
    flex-direction: column;
  }
  .flex-second {
    display: flex;
    flex-direction: column;
  }
  .img-section-why {
    width: 100%;
    text-align: center;
  }
  .text-section-why > div {
    padding: 3rem 0 1rem 0;
    text-align: center;
  }

  .text-section-why p {
    padding: 1rem 0 3rem;
  }
  .section-why {
    padding: 3rem 0 0 0;
  }
  .img-section-why img {
    width: 100%;
    height: 400px;
  }
}

/** Section collaborate **/
.row-section-collaborate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col-section-collaborate {
  width: 100%;
  padding: 0 1em 0 1em;
  text-align: center;
  flex: 0 0 33.33%;
  justify-content: center;
}

/** Section collaborate MQ PHONE **/
@media (max-width: 480px) {
  .col-section-collaborate {
    flex: 0 0 110%;
    padding-bottom: 1rem;
  }
}

/** Section collaborate MQ TABLET **/
@media (min-width: 480px) and (max-width: 768px) {
  .col-section-collaborate {
    flex: 0 0 120%;
    padding: 1rem;
  }
}
/** Section collaborate MQ DESKTOP **/
@media (min-width: 769px) and (max-width: 1024px) {
  .col-section-collaborate {
    flex: 0 0 120%;
    padding: 1rem;
  }
}
/** Section collaborate MQ DESKTOP **/
@media (min-width: 1025px) and (max-width: 1200px) {
  .col-section-collaborate {
    flex: 0 0 110%;
    padding: 1rem;
  }
}

/** Contact card **/
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #79d671 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
.title-h3 {
  font-size: 20px;
  margin: 1em 0;
}

.icon-wrapper {
  display: grid;
  place-items: center;
  background-color: #79d671;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #79d671;
}
.card:hover .title-h3 {
  color: #ffffff;
}
.card:hover {
  color: white;
}
